.contactFormContainer {
  padding: 20px;
  line-height: 1.4;
  border-radius: 10px;
  width: 45%;
  margin: 100px auto;
  box-shadow: 0 4px 6px #ffffff1a;
  font-family: Arial, sans-serif;
}

.contactFormContainer h2 {
  text-align: center;
}

.contactFormContainer p {
  text-align: center;
}

.formbackendForm {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.formGroup textarea {
  resize: vertical;
  min-height: 100px;
}

.sendButton {
  width: 100%;
  padding: 10px;
  background-color: #000080;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.sendButton:hover {
  background-color: #000060;
}

.callUs {
  text-align: center;
  color: #666;
  margin-top: 10px;
  font-size: 14px;
}

/* Scoping the input selectors */
.formbackendForm input[type="text"],
.formbackendForm input[type="email"],
.formbackendForm input[type="tel"],
.formbackendForm textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .contactFormContainer {
    width: 56%;
  }
}

@media screen and (max-width: 494px) {
  .contactFormContainer {
    width: 80%;
  }
}

@media screen and (max-width:320px) {
  .heading{
    font-size: 1rem;
  }
  .headingP{
    font-size: 0.9rem;
  }
  .formGroup {
    font-size: 0.8rem;
  }
}