.button {
    background-color: transparent;
    color: blue;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px;
  }
  
  button:hover {
    text-decoration: underline;
  }
.btn_bottom{
    margin-bottom: 10px;
}

@media screen and (max-width:320px) {
  .btn_bottom{
    font-size: 0.8rem;
  }
}